<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="home" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm" style="background-color: white">
        <div class="container text-center p-3">
            <div class="row">
                <div class="col">
                    <img th:src="@{/images/home-img.jpg}" class="float-start" alt="home-img">
                </div>
                <div class="col">
                    <p><strong>Welcome to our fresh fruits and vegetables stand!</strong></p>
                    Here, you'll find the tastiest and freshest seasonal produce that will bring you
                    joy and health. Our fruits and vegetables are not only delicious but also a healthy
                    alternative to harmful snacks. Come visit us to savor the best flavors of nature.
                    Explore a rainbow of colors and flavors as you peruse our wide selection of locally
                    sourced fruits and vegetables. From juicy, ripe peaches to crisp, organic greens,
                    our stand is a treasure trove of nature's goodness. We take pride in offering you
                    the finest quality produce that's as good for your taste buds as it is for your well-being.
                    Come and experience the difference of fresh, wholesome goodness at our stand.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>